<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaseDeDatos.Properties.Settings.CursoPildorasConnectionString"
            connectionString="Data Source=SERGIO_PC\SQLFRUSEAL;Initial Catalog=CursoPildoras;User ID=sa;Password=Sn917691.SQL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>